.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.content {
    height: 100%;
    width: var(--default-layout-header-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .upload-btn,
    .message-btn,
    .notify-btn {
        font-size: 2.2rem;
        color: #161823;
        background-color: transparent;
        padding: 4px 16px;
        cursor: pointer;
    }
    .see-more-btn {
        margin-left: 16px;
        position: relative;
        cursor: pointer;
        padding: 4px 8px;
        background: transparent;

        .see-more-icon {
            cursor: pointer;
        }
    }
    .user-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 12px;
        cursor: pointer;
    }
}
