.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.content {
    height: 100%;
    width: var(--default-layout-header-width);
    background: yellow;
}
