.wrapper {
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    margin: 0px 12px 0px 0px;
    background-color: rgba(136, 136, 136, 0.5);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex: 1;
    }
}
.info-user {
    flex: 0 1 auto;
    width: 80%;

    h4 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .blue-tick {
            font-size: 14px;
            color: #2d80ec;
            margin-left: 4px;
        }
    }
    p {
        font-size: 14px;
        line-height: 20px;
        color: rgba(22, 24, 35, 0.5);
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
